:root {
  /* Variables CSS */
  --font: 'Rubik', sans-serif;
  --color-primary:rgba(28, 32, 75, 1);
  --color-big-card:rgba(87, 71, 234, 1);
  --color-one-card:rgba(255, 139, 100, 1);
  --color-two-card:rgba(85, 194, 230, 1);
  --color-three-card:rgba(255, 94, 125, 1);
  --color-four-card:rgba(75, 207, 130, 1);
  --color-five-card:rgba(115, 53, 210, 1);
  --color-six-card:rgba(241, 199, 91, 1);
}

/* Variables SASS */
